@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400&display=swap');

body {
  margin: 0;
  padding: 0;
}

p {
  margin: 5px 0;
}

#notification {
  width: 100%;
  background-color: #E5E5E5;
  position: sticky;
  top: 0;
  z-index: 2;
  overflow-y: hidden;
  height: 80px;
  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

#notification.close {
  height: 0;
}

.notification-panel {
  width: 720px;
  padding: 15px 0;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.notification-panel p {
  font-family: 'Heebo', sans-serif;
  font-size: 15px;
}

.notification-panel a {
  font-family: 'Heebo', sans-serif;
  font-size: 15px;
  text-decoration: none;
}

.notification-panel button {
  width: 80px;
  height: 40px;
  border: none;
  border-radius: 3px;
  background-color: #007bc1;
  color: #fff;
  cursor: pointer;
}

#hero {
  width: 100%;
  height: 100vh;
  background: url(./assets/work-desk__dustin-lee.jpg) top center;
  background-size: cover;
  overflow: hidden;
  position: relative;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

#hero:before {
  content: "";
  background: rgba(0, 27, 58, 0.8);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero .hero-container {
  position: absolute;
  bottom: 0;
  left: 0;
  top: 90px;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 15px;
}

#hero .hero-logo {
  position: absolute;
  z-index: 1;
  width: 50px;
  left: 20px;
  top: 20px;
}

@media (max-width: 991px) {
  #hero .hero-container {
    top: 70px;
  }
}

#hero h1 {
  color: #fff;
  font-family: 'Heebo', sans-serif;
  font-weight: 300;
  margin: 2px 0;
  font-size: 38px;
}

#hero h2 {
  color: #fff;
  font-family: 'Heebo', sans-serif;
  font-size: 30px;
  font-weight: 400;
  margin: 2px 0;
}

#hero p {
  color: #fff;
  font-family: 'Heebo', sans-serif;
  font-weight: 200;
  margin: 3px 0;
}

@media (max-width: 991px) {
  #hero h1 {
    font-size: 34px;
  }
}

#hero p {
  color: #ebebeb;
  font-size: 20px;
}

@media (max-width: 991px) {
  #hero p {
    font-size: 16px;
  }
}

#hero .contact-btn {
  font-family: 'Heebo', sans-serif;
  display: inline-block;
  padding: 15px 20px;
  transition: 0.5s;
  line-height: 1;
  margin: 20px;
  color: #fff;
  animation-delay: 0.8s;
  border: 2px solid #fff;
  text-decoration: none;
  border-radius: 3px;
}

#hero .contact-btn:hover {
  background: #fff;
  color: rgb(0, 27, 58);
}

#panel {
  background-color: #E5E5E5;
  height: auto;
  margin: 0;
  padding: 0;
}

#panel .panel-container {
  padding: 50px 0;
  margin: 0 auto;
  width: 100%;
}

.panel-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 200px;
  margin-bottom: 40px;
}

.panel-header h1 {
  font-size: 30px;
  margin: 10px;
  color: #393f41;
  font-family: 'Heebo', sans-serif;
  font-weight: 400;
}

.panel-header p {
  font-size: 18px;
  margin: 5px;
  text-align: center;
  color: #4D5356;
  font-family: 'Heebo', sans-serif;
  font-weight: 400;
}

.panel-content {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.content-left {
  border: 1px solid #d2d2d2;
  border-radius: 3px;
  padding: 5px 15px;
  margin-bottom: 20px;
}

.content-middle {
  border: 1px solid #d2d2d2;
  border-radius: 3px;
  padding: 5px 15px;
  margin-bottom: 20px;
}

.content-right {
  border: 1px solid #d2d2d2;
  border-radius: 3px;

  padding: 5px 15px;
  margin-bottom: 20px;
}

.content-title {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.panel-content p {
  font-size: 13px;
  color: #4D5356;
  font-family: 'Heebo', sans-serif;
  font-weight: 400;
}

.content-title h3 {
  margin: 5px 0;
  color: #43484b;
  font-family: 'Heebo', sans-serif;
  font-weight: 400;
}

.content-title i {
  margin-left: auto;
  color: #A1A6A8;
  font-size: 25px;
}

#footer {
  background-color: rgb(4, 3, 37);
  margin: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
}

#footer p {
  color: #fff;
  font-size: 13px;
  font-family: 'Heebo', sans-serif;
}

#newsletter {
  width: 600px;
  height: 150px;
  padding: 20px 20px;
  position: fixed;
  bottom: -350px;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #007ac1b2;
  overflow-y: hidden;
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

#newsletter.show {
  bottom: 0;
}

#newsletter .upper-container {
  padding: 0 20px;
}

#newsletter .bottom-container {
  margin: 10px 0;
  padding: 0px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.upper-container h1 {
  margin: 2px 0;
  color: #fff;
  font-family: 'Heebo', sans-serif;
}

.upper-container p {
  color: #fff;
  font-family: 'Heebo', sans-serif;
}

.bottom-container input {
  width: 100%;
  height: 25px;
  border: none;
}

.bottom-container button {
  background-color: #ff8000;
  color: #fff;
  border: none;
  border-radius: 3px;
  margin-left: auto;
  width: 120px;
  height: 27px;
  font-family: 'Heebo', sans-serif;
}

#newsletter i {
  position: absolute;
  top: 5px;
  right: 5px;
  color: #fff;
  cursor: pointer;
}

/*-----------RESPONSIVE----------*/
@media (max-width: 480px) {
  #notification {
    height: 170px;
  }

  #hero {
    height: 500px;
  }

  #hero .hero-logo {
    width: 40px;
  }

  #hero h1 {
    font-size: 30px;
  }
  
  #hero h2 {
    font-size: 25px;
  }
  
  #hero p {
    font-size: 20px;
  }

  .notification-panel {
    width: auto;
    padding: 10px 10px;
    margin: 0;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }

  .panel-header {
    padding: 0 20px;
  }

  .panel-header h1 {
    font-size: 25px;
  }

  .panel-header p {
    font-size: 14px;
  }

  .content-left {
    flex: 0 0 87.5%;
    margin: 0 auto;
  }

  .content-middle {
    flex: 0 0 87.5%;
    margin: 0 auto;
  }

  .content-right {
    flex: 0 0 87.5%;
    margin: 0 auto;
  }

  #newsletter {
    width: auto;
    height: auto;
  }

  #newsletter .bottom-container {
    flex-direction: column;
  }

  .bottom-container button {
    width: 100%;
  }

  #footer p {
    font-size: 10px;
  }

}

@media (min-width: 481px) and (max-width: 960px) {
  .panel-header {
    padding: 0 80px;
  }

  .content-left {
    flex: 0 0 44%;
  }

  .content-middle {
    flex: 0 0 44%;
  }

  .content-right {
    flex: 0 0 44%;
  }
}

@media (min-width: 1024px) {
  .content-left {
    flex: 0 0 28.6%;
  }

  .content-middle {
    flex: 0 0 28.6%;
  }

  .content-right {
    flex: 0 0 28.6%;
  }
}

@media (min-width: 1440px) {
  #hero h1 {
    font-size: 50px;
  }
  
  #hero h2 {
    font-size: 40px;
  }
  
  #hero p {
    font-size: 25px;
  }

  #hero .contact-btn {
    font-size: 20px;
  }

  .panel-header {
    padding: 0 250px;
  }

  .panel-header h1 {
    font-size: 45px;
  }
  
  .panel-header p {
    font-size: 30px;
  }

  .panel-content h3 {
    font-size: 25px;
  }

  .panel-content p {
    font-size: 20px;
  }

  .content-title i {
    font-size: 30px;
  }

  .content-left {
    flex: 0 0 30%;
  }

  .content-middle {
    flex: 0 0 30%;
  }

  .content-right {
    flex: 0 0 30%;
  }

  #footer p {
    font-size: 18px;
  }
}

@media (min-width: 1920px) {
  #hero h1 {
    font-size: 55px;
  }
  
  #hero h2 {
    font-size: 45px;
  }
  
  #hero p {
    font-size: 30px;
  }

  #hero .contact-btn {
    font-size: 25px;
  }

  .panel-header {
    padding: 0 300px;
  }

  .panel-header h1 {
    font-size: 50px;
  }
  
  .panel-header p {
    font-size: 38px;
  }

  .panel-content h3 {
    font-size: 30px;
  }

  .panel-content p {
    font-size: 25px;
  }

  .content-title i {
    font-size: 35px;
  }

  .content-left {
    flex: 0 0 30.86%;
  }

  .content-middle {
    flex: 0 0 30.86%;
  }

  .content-right {
    flex: 0 0 30.86%;
  }

  #footer {
    height: 100px;
  }

  #footer p {
    font-size: 20px;
  }
}

@media only screen and (min-width: 768px) {
  .panel-container {
    max-width: 720px;
  }
}

@media only screen and (min-width: 992px) {
  .panel-container {
    max-width: 960px;
  }
}

@media only screen and (min-width: 1440px) {
  .panel-container {
    max-width: 1380px;
  }
}

@media only screen and (min-width: 1920px) {
  .panel-container {
    max-width: 1860px;
  }
}